body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* mix-blend-mode */
  background-color: var(--color-white);
}

/* Main */
#main {
  background-color: var(--color-white);
  padding: 110px 0;
  max-width: var(--max-width);
  margin: auto;
  height: 860px;
}

/* Intro */
#intro {
  display: flex;
}

.intro__left {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.first-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.intro__about {
  display: inline-block;
  background-color: var(--color-white);
  width: 250px;
  height: 250px;
  text-align: center;
  padding-top: 75px;
}

.intro__img {
  width: 250px;
  height: 250px;
}

.img-first {
  background: url("../image/Ginza.png") no-repeat center/cover;
  margin: auto;
}

.second-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: -60px;
}

.img-second {
  background: url("../image/Ginza.png") no-repeat center/cover;
  margin: auto;
}

.intro__subject {
  width: 250px;
  height: 250px;
  margin: auto;
  padding-left: 15px;
  background-color: #b5c3c8;
  color: #f1f2f5;
}

.intro__right {
  display: flex;
  flex-direction: column;
}

.intro__title {
  margin-top: 265px;
  margin-left: 20px;
  font-size: 35px;
  font-family: var(--font-korean);
  font-weight: var(--font-weight-light);
}

.intro__article {
  text-align: justify;
  text-indent: 20px;
  font-size: 16px;
  width: 605px;
  margin-top: -8px;
  margin-left: 20px;
  word-spacing: 3.5px;
  line-height: 30px;
}

@media screen and (max-width: 1200px) {
  /* Intro */
  #main {
    padding: 80px 0;
    z-index: 5;
    height: 1050px;
  }

  .intro__left {
    margin: auto;
  }

  .intro__right {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 400px;
    transform: translateX(-50%);
  }

  #footer {
    z-index: 1;
  }
}

/* For below 760px screen width */
@media screen and (max-width: 760px) {
  /* Intro */
  #main {
    height: 900px;
  }

  .intro__article {
    width: 500px;
    margin-left: 1px;
  }

  /* Footer */
  #footer {
    margin-top: 200px;
  }
  .footer__title {
    font-size: 28px;
  }
  .footer__info p {
    font-size: 12px;
  }
}

@media screen and (max-width: 520px) {
  /* Intro */
  .intro__article {
    width: 400px;
    margin-left: 1px;
  }
}

@media screen and (max-width: 500px) {
  /* Intro */
  #main {
    height: 1450px;
  }

  .intro__about {
    padding-left: 60px;
  }

  .img-first {
    margin-top: -130px;
  }

  .second-box {
    margin-top: -5px;
  }

  .intro__right {
    margin-top: 420px;
  }

  .intro__title {
    font-size: 25px;
    text-align: left;
    margin-left: 36px;
  }

  .intro__article {
    width: 300px;
    text-indent: 0;
    margin-left: 1px;
  }
}
