/* SELECTION PART */
*::selection {
  background: transparent;
  color: burlywood;
}

/* Variables */
:root {
  /* color */
  --color-black: #000;
  --color-white: #fff;
  --color-skyblue: #96d5cf;
  --color-blue-grey: #c2c9d3;
  --color-light-grey: #f5f5f5;
  --color-dark-grey: rgb(44, 44, 44);
  --color-brown: #6f4f28;
  --color-footer-grey: rgb(102, 102, 102);

  /* Font Family */
  --font-script: "Dancing Script", cursive;
  --font-english: "Poppins", sans-serif;
  --font-korean: "Noto Sans KR", sans-serif;
  /* Font Sizes */

  /* Font Weight */
  --font-weight-bold: 700;
  --font-weight-regular: 600;
  --font-weight-light: 400;
  --font-weight-micro: 100;
  /* Noto Font */
  --noto-weight-regular: 500;

  /* Time Duration */
  --anime-duration: 350ms;

  /* Sizes */
  --max-width: 1200px;
}

/* Universe */
* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: var(--font-korean);
  font-weight: var(--font-weight-light);
}

h1 {
  font-size: 60px;
  font-family: var(--font-english);
  font-weight: var(--font-weight-regular);
}

button {
  font-family: var(--font-korean);
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Service Texts Only */
.service__texts {
  color: var(--color-white);
  text-align: justify;
  text-indent: 10px;
  line-height: 30px;
  word-spacing: 1px;
}

/* Service Titles Only */
.service__titles {
  color: var(--color-white);
  font-family: var(--font-korean);
  font-size: 45px;
}
