body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* mix-blend-mode */
  background-color: var(--color-black);
}

/* Header */
#header {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: auto;
  padding-top: 90px;
  padding-right: 40px;
}

.header__title {
  color: var(--color-white);
  font-family: var(--font-english);
  font-size: 70px;
}

/* Main */
#main {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

/* About Service */
#aboutService {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

/* About Service Left box */
.aboutService__left__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aboutService__img {
  width: 60%;
}

.aboutService__contents {
  padding-top: 150px;
  padding-left: 30px;
  text-align: justify;
  text-indent: 10px;
  line-height: 30px;
  width: 400px;
  color: var(--color-white);
}

.aboutService__title {
  font-family: var(--font-script);
  margin-top: -35px;
  margin-left: 560px;
  font-size: 65px;
  color: var(--color-white);
  mix-blend-mode: difference;
}

/* Category */
#category {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}

.category__title {
  font-family: var(--font-script);
  font-size: 65px;
  margin-left: 20px;
  color: var(--color-white);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-white);
}

.category__type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.category__boxes {
  width: 300px;
  height: 400px;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

.category__titles {
  font-family: var(--font-english);
  color: var(--color-blue-grey);
  font-size: 25px;
  text-align: center;
}

.category__content {
  text-align: center;
  font-size: 14px;
  line-height: 23px;
}

/* Brand */
.sections {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-right: 20px;
  padding-bottom: 200px;
}

.sections-reverse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  padding-bottom: 200px;
}

.sections__img {
  position: relative;
  background: url("../image/ex-img2.jpg") no-repeat center/cover;
  width: 400px;
  height: 400px;
  filter: grayscale(100%);
}

.sections__title {
  position: absolute;
  top: -50px;
  left: 20px;
  font-family: var(--font-english);
  color: var(--color-white);
  mix-blend-mode: difference;
  font-size: 65px;
}

.sections__contents {
  padding-right: 20px;
  text-align: justify;
  text-indent: 10px;
  line-height: 30px;
  width: 350px;
  color: var(--color-white);
}

.sections__contents-reverse {
  padding-left: 20px;
  text-align: justify;
  text-indent: 10px;
  line-height: 30px;
  width: 350px;
  color: var(--color-white);
}

/* For below 1010px screen width */
@media screen and (max-width: 1024px) {
  /* About Service */
  .aboutService__img {
    width: 600px;
  }

  .aboutService__title {
    margin-left: 150px;
  }

  .aboutService__contents {
    padding-top: 50px;
    width: 320px;
  }
}

/* For below 919px screen width */
@media screen and (max-width: 919px) {
  /* About Service */
  #aboutService {
    flex-direction: column-reverse;
    flex-wrap: initial;
  }

  .aboutService__img {
    width: 500px;
  }

  .aboutService__title {
    position: absolute;
    top: 400px;
    left: 220px;
    transform: rotate(90deg);
  }

  .aboutService__left__box {
    flex-direction: column;
  }

  .aboutService__contents {
    padding-top: 10px;
    margin-left: 10px;
    width: 480px;
  }
}
/* For below 780px screen width */
@media screen and (max-width: 780px) {
  .sections__img {
    width: 300px;
    height: 300px;
  }

  .sections__title {
    font-size: 50px;
  }

  .sections__contents {
    padding-right: 10px;
    font-size: 15px;
    width: 400px;
  }

  .sections__contents-reverse {
    font-size: 15px;
    width: 400px;
  }
}

/* For below 735px screen width */
@media screen and (max-width: 735px) {
  /* Header */
  .header__title {
    font-size: 50px;
  }
  /* About Service */
  .aboutService__title {
    width: 100%;
    left: 10px;
    top: 620px;
  }

  /* Sections */
  .sections {
    flex-direction: column;
    align-content: center;
    margin: auto;
  }

  .sections-reverse {
    flex-direction: column;
    align-content: center;
    margin: auto;
  }

  .sections__contents {
    padding-right: 0;
  }

  .sections__contents-reverse {
    padding-left: 0;
  }

  .sections__img {
    width: 400px;
  }
}

/* For below 720px screen width */
@media screen and (max-width: 720px) {
  /* About Service */
  .aboutService__title {
    transform: rotate(0);
    top: 330px;
    left: 0;
  }

  .aboutService__contents {
    padding-top: 25px;
  }
}

/* For below 600px screen width */
@media screen and (max-width: 560px) {
  /* About Service */
  .aboutService__img {
    width: 480px;
  }

  .aboutService__title {
    font-size: 45px;
    left: 20px;
    top: 330px;
  }

  .aboutService__contents {
    width: 450px;
    padding-top: 20px;
    padding-left: 20px;
  }
}

/* For below 600px screen width */
@media screen and (max-width: 450px) {
  /* Header */
  .header__title {
    font-size: 40px;
  }

  /* About Service */
  .aboutService__img {
    width: 350px;
  }

  .aboutService__title {
    font-size: 45px;
    left: -135px;
    top: 275px;
  }

  .aboutService__contents {
    width: 330px;
    padding-top: 48px;
    padding-left: 0;
  }

  /* Sections */
  .sections__img {
    margin: auto;
    width: 250px;
    height: 250px;
  }

  .sections__title {
    left: 0;
  }

  .sections__contents {
    margin: auto;
    width: 250px;
  }

  .sections__contents-reverse {
    margin: auto;
    width: 250px;
  }
}

/* For below 600px screen width */
@media screen and (max-width: 330px) {
  /* About Service */
  .aboutService__img {
    width: 300px;
  }

  .aboutService__title {
    width: 100%;
    transform: rotate(90deg);
    left: -10px;
    top: 450px;
  }

  .aboutService__contents {
    width: 250px;
    padding-top: 10px;
    padding-left: 10px;
  }
}
