body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* mix-blend-mode */
  background-color: var(--color-black);
}

/* Header */
#header {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: auto;
  padding: 140px 40px;
}

.header__title {
  color: var(--color-white);
  font-family: var(--font-english);
  font-size: 70px;
}

/* Main */
#main {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

/* For below 600px screen width */
@media screen and (max-width: 600px) {
  /* Header */
  .header__title {
    color: var(--color-white);
    font-size: 55px;
  }
}
