/* SELECTION PART */
*::selection {
  background: transparent;
  color: burlywood;
}

/* Variables */
:root {
  /* color */
  --color-black: #000;
  --color-white: #fff;
  --color-skyblue: #96d5cf;
  --color-blue-grey: #c2c9d3;
  --color-light-grey: #f5f5f5;
  --color-dark-grey: rgb(44, 44, 44);
  --color-brown: #6f4f28;

  /* Font Family */
  --font-script: "Dancing Script", cursive;
  --font-english: "Poppins", sans-serif;
  --font-korean: "Noto Sans KR", sans-serif;
  /* Font Sizes */

  /* Font Weight */
  --font-weight-bold: 700;
  --font-weight-regular: 600;
  --font-weight-light: 400;
  --font-weight-micro: 100;
  /* Noto Font */
  --noto-weight-regular: 500;

  /* Time Duration */
  --anime-duration: 350ms;

  /* Sizes */
  --max-width: 1200px;
}

/* Universe */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Mix blend mode white bg */
.mix-blend-mode {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
}

/* Nav */
#navbar {
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  font-family: var(--font-english);
  padding-top: 20px;
}

.navbar__logo {
  color: var(--color-white);
  font-size: 30px;
  padding-left: 20px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 4px;
}

.navbar__menu {
  color: var(--color-white);
  display: flex;
  padding-top: 20px;
  padding-right: 20px;
  gap: 0 28px;
}

.navbar__items a {
  font-weight: var(--font-weight-light);
  font-size: 15px;
  position: relative;
  padding: 5px;
}

.navbar__items a:hover::after {
  width: 100%;
  transition: all var(--anime-duration) ease-in-out;
}

.navbar__items a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--color-white);
  transition: all var(--anime-duration) ease-in-out;
}

/* When We use PC version hidden toggle btn */
.navbar-toggle {
  display: none;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* Nav */
  .navbar__logo {
    font-size: 25px;
    padding-left: 25px;
  }
  .navbar__items {
    display: none;
  }
  .navbar-toggle {
    display: block;
    font-size: 20px;
    padding-right: 25px;
  }
}
