/* SELECTION PART */
*::selection {
  background: transparent;
  color: burlywood;
}

/* Variables */
:root {
  /* color */
  --color-black: #000;
  --color-white: #fff;
  --color-skyblue: #96d5cf;
  --color-blue-grey: #c2c9d3;
  --color-light-grey: #f5f5f5;
  --color-dark-grey: rgb(44, 44, 44);
  --color-brown: #6f4f28;

  /* Font Family */
  --font-script: "Dancing Script", cursive;
  --font-english: "Poppins", sans-serif;
  --font-korean: "Noto Sans KR", sans-serif;
  /* Font Sizes */

  /* Font Weight */
  --font-weight-bold: 700;
  --font-weight-regular: 600;
  --font-weight-light: 400;
  --font-weight-micro: 100;
  /* Noto Font */
  --noto-weight-regular: 500;

  /* Time Duration */
  --anime-duration: 350ms;

  /* Sizes */
  --max-width: 1200px;
}

/* Universe */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* mix-blend-mode */
  background-color: var(--color-white);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: var(--font-korean);
  font-weight: var(--font-weight-light);
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Nav 
----------------------------------------*/
#navbar {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  font-family: var(--font-english);
  padding-top: 25px;
  z-index: 1000;
}

.navbar__logo {
  color: var(--color-white);
  font-size: 30px;
  padding-left: 20px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 4px;
}

.navbar__menu {
  color: var(--color-white);
  display: flex;
  padding-top: 5px;
  padding-right: 20px;
  gap: 0 28px;
}

.navbar__menu__items a {
  font-weight: var(--font-weight-light);
  font-size: 15px;
  position: relative;
  padding: 5px;
}

.navbar__menu__items a:hover::after {
  width: 100%;
  transition: all var(--anime-duration) ease-in-out;
}

.navbar__menu__items a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--color-white);
  transition: all var(--anime-duration) ease-in-out;
}

/* When We use PC version hidden toggle btn */
.navbar-toggle {
  display: none;
}

/* Main */
#main {
  background-color: var(--color-white);
}

/* Section
------------------------------------------- */
.section {
  background-color: var(--color-white);
  max-width: var(--max-width);
  margin: auto;
}

/* Home */
#home {
  position: relative;
  padding-top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home__video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-color: var(--color-dark-grey);
}

.home__video__txt {
  font-family: var(--font-english);
  font-weight: var(--font-weight-light);
  font-size: 25px;
  letter-spacing: 6px;
  mix-blend-mode: difference;
  color: var(--color-white);
}

.home__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -60px;
}

.home__title {
  font-family: var(--font-script);
  font-weight: var(--font-weight-micro);
  font-size: 75px;
  color: var(--color-skyblue);
}

.home__description {
  position: relative;
  top: -50px;
  font-size: 20px;
  font-family: var(--font-english);
  font-weight: var(--font-weight-light);
}

.home__line {
  position: relative;
  top: -30px;
  width: 300px;
  height: 1px;
  background-color: var(--color-blue-grey);
}

.home__button {
  font-family: var(--font-english);
  font-weight: var(--font-weight-light);
  font-size: 15px;
  position: relative;
  transition: all var(--anime-duration) ease-in-out;
}

.home__button:hover {
  color: var(--color-blue-grey);
  transition: all var(--anime-duration) ease-in-out;
}

/* About */
#about {
  display: flex;
  flex-direction: row;
}

.about__title {
  border-bottom: 2px solid var(--color-black);
  width: 100%;
  font-family: var(--font-english);
  font-weight: var(--font-weight-light);
  font-size: 40px;
  padding-left: 20px;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* Nav */
  .navbar__logo {
    font-size: 25px;
    padding-left: 25px;
  }

  .navbar__menu__items {
    display: none;
  }

  .navbar-toggle {
    display: block;
    font-size: 20px;
    padding-right: 25px;
  }

  /* Home */
  .home__contents {
    top: -30px;
  }

  .home__title {
    font-size: 50px;
  }

  .home__description {
    font-size: 15px;
    top: -40px;
  }

  .home__line {
    width: 150px;
  }
}
