/* SELECTION PART */
*::selection {
  background: transparent;
  color: burlywood;
}

/* Variables */
:root {
  /* color */
  --color-black: #000;
  --color-white: #fff;
  --color-skyblue: #96d5cf;
  --color-blue-grey: #c2c9d3;
  --color-light-grey: #f5f5f5;
  --color-dark-grey: rgb(44, 44, 44);
  --color-brown: #6f4f28;

  /* Font Family */
  --font-script: "Dancing Script", cursive;
  --font-english: "Poppins", sans-serif;
  --font-korean: "Noto Sans KR", sans-serif;
  /* Font Sizes */

  /* Font Weight */
  --font-weight-bold: 700;
  --font-weight-regular: 600;
  --font-weight-light: 400;
  --font-weight-micro: 100;
  /* Noto Font */
  --noto-weight-regular: 500;

  /* Time Duration */
  --anime-duration: 350ms;

  /* Sizes */
  --max-width: 1200px;
}

/* Universe */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* mix-blend-mode */
  background-color: var(--color-white);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: var(--font-korean);
  font-weight: var(--font-weight-light);
}

button {
  font-family: var(--font-korean);
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.titles {
  border-bottom: 2px solid var(--color-black);
  font-size: 40px;
  font-family: var(--font-english);
  font-weight: var(--font-weight-light);
}

/* Nav 
----------------------------------------*/
#navbar {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  font-family: var(--font-english);
  padding-top: 25px;
  z-index: 1000;
}

.navbar__logo {
  color: var(--color-white);
  font-size: 30px;
  padding-left: 20px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 4px;
}

.navbar__menu {
  color: var(--color-white);
  display: flex;
  padding-top: 5px;
  padding-right: 20px;
  gap: 0 28px;
}

.navbar__menu__items a {
  color: var(--color-white);
  font-weight: var(--font-weight-light);
  font-size: 15px;
  position: relative;
  padding: 5px;
}

.navbar__menu__items a:hover::after {
  width: 100%;
  transition: all var(--anime-duration) ease-in-out;
}

.navbar__menu__items a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--color-white);
  transition: all var(--anime-duration) ease-in-out;
}

/* Mobile Nav */
.mobile__nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px 0;
  padding-left: 20px;
  right: 0;
  height: 100vh;
  background-color: var(--color-black);
  width: 70%;
  z-index: 1000;
  transform: translateX(800px);
  visibility: hidden;
  transition: all 1s ease;
}

.visible {
  transform: translateX(0);
  visibility: visible;
  transition: all 1s ease;
}

.close__btn {
  color: var(--color-white);
  position: relative;
  top: -100px;
  font-size: 25px;
}

.mobile__navbar__menu__items {
  font-size: 15px;
  position: relative;
  top: -40px;
  font-family: var(--font-english);
  font-weight: var(--font-weight-regular);
}

.mobile__navbar__menu__items a {
  color: var(--color-white);
}

.mobile__navbar__menu__items a::after {
  content: "";
  width: 0;
  opacity: 0;
  height: 1px;
  position: absolute;
  left: -5px;
  padding: 0 5px;
  bottom: 10px;
  background-color: var(--color-skyblue);
  transition: all var(--anime-duration) ease;
}

.mobile__navbar__menu__items a:hover::after {
  opacity: 1;
  width: 100%;
  transition: all var(--anime-duration) ease-out;
}

/* When We use PC version hidden toggle btn */
.navbar-toggle {
  display: none;
}

/* Main */
#main {
  background-color: var(--color-white);
}

/* Section
------------------------------------------- */
.section {
  background-color: var(--color-white);
  max-width: var(--max-width);
  margin: auto;
}

/* Home */
#home {
  position: relative;
  padding-top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home__video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-color: var(--color-dark-grey);
}

.home__video__txt {
  font-family: var(--font-english);
  font-weight: var(--font-weight-light);
  font-size: 25px;
  letter-spacing: 6px;
  mix-blend-mode: difference;
  color: var(--color-white);
}

.home__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -60px;
}

.home__title {
  font-family: var(--font-script);
  font-weight: var(--font-weight-micro);
  font-size: 75px;
  color: var(--color-skyblue);
}

.home__description {
  position: relative;
  top: -50px;
  font-size: 20px;
  font-family: var(--font-english);
  font-weight: var(--font-weight-light);
}

.home__line {
  position: relative;
  top: -30px;
  width: 300px;
  height: 1px;
  background-color: var(--color-blue-grey);
}

.home__button {
  font-family: var(--font-english);
  font-weight: var(--font-weight-light);
  font-size: 15px;
  position: relative;
  transition: all var(--anime-duration) ease-in-out;
}

.home__button:hover {
  color: var(--color-blue-grey);
  transition: all var(--anime-duration) ease-in-out;
}

/* About */
#about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about__box__wrap {
  display: inline-flex;
  flex-direction: row;
  margin-left: 30px;
}

.about__title {
  width: 65%;
  font-family: var(--font-english);
  font-weight: var(--font-weight-light);
  padding-left: 20px;
}

.about__box__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about__img {
  width: 300px;
  height: 300px;
  background: url("../image/Ginza.png") no-repeat center/cover;
}

.about__visibility__style {
  color: var(--color-white);
  visibility: hidden;
  position: relative;
  top: 8px;
  opacity: 0%;
  transition: all var(--anime-duration) ease-in-out;
}

.about__box__title {
  font-size: 30px;
  font-family: var(--font-english);
  font-weight: var(--font-weight-light);
}

.about__box__btn {
  border: 1px solid var(--color-white);
  padding: 5px 20px;
  border-radius: 5px;
  transition: all var(--anime-duration) ease-in-out;
}

.about__box__btn:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
  transition: all var(--anime-duration) ease-in-out;
}

.about__box__right {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about__box__right__z-index {
  z-index: 10;
}

.about__box__right__title {
  font-size: 35px;
  position: relative;
  left: 15px;
  top: -8px;
  text-shadow: 3px 3px 0px var(--color-skyblue);
}

.about__content {
  text-align: justify;
  position: relative;
  text-indent: 35px;
  word-spacing: 7px;
  line-height: 25px;
  top: -40px;
  left: 15px;
  width: 400px;
}

.about__responsive__word {
  display: none;
}

/* About visible */
.about__img:hover {
  background-color: var(--color-dark-grey);
  background-image: none;
}

.about__img:hover .about__visibility__style {
  top: 0;
  visibility: visible;
  opacity: 100%;
  transition: all var(--anime-duration) ease-in-out;
}

/* Work */
#work {
  position: relative;
  background-color: var(--color-light-grey);
  margin-top: 200px;
  padding-bottom: 100px;
}
.max-width-work {
  max-width: 1200px;
  display: flex;
  position: relative;
  align-content: center;
  flex-direction: column;
  margin: auto;
}
/* Work Styles */

.work__title {
  border: 0;
  padding-top: 40px;
  padding-left: 20px;
}

.work__h2-style {
  font-family: var(--font-english);
  color: var(--color-black);
  font-size: 35px;
  font-weight: var(--font-weight-micro);
}
.work-more {
  position: relative;
  padding: 50px;
  font-family: var(--font-english);
  color: var(--color-black);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-micro);
  transition: all var(--anime-duration) ease-in-out;
}
.work-more:hover {
  color: var(--color-skyblue);
  transition: all var(--anime-duration) ease-in-out;
}

.work-line-style {
  width: 100%;
  height: 1px;
  position: relative;
  top: -45px;
  background-color: var(--color-black);
}

.work-box {
  width: 300px;
  height: 300px;
  margin: 35px;
  background-color: var(--color-blue-grey);
  -webkit-box-shadow: 7px 7px 15px -7px rgba(0, 0, 0, 0.83);
  box-shadow: 7px 7px 15px -7px rgba(0, 0, 0, 0.83);
}
/* Work Boxes wrapper */
.work__boxes-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

/* Setting Title Style */
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Work Web only */
.reverse-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

/* Top Bottom Wrap */
.work__top-wrap {
  width: 100%;
  margin-top: 20px;
}

.work__bottom-wrap {
  width: 100%;
  margin-top: 100px;
}

/* Left right side h2 */
.work-h2-left-side {
  position: relative;
  top: -9px;
  padding-left: 35px;
}
.work-h2-right-side {
  position: relative;
  top: -9px;
  padding-right: 35px;
}

/* Work IMG Part */
/* Design */
.work__box-design-first {
  background: url("../image/design-1.jpg") no-repeat center/cover;
}
.work__box-design-second {
  background: url("../image/design-2.jpg") no-repeat center/cover;
}
.work__box-design-third {
  background: url("../image/design-3.jpg") no-repeat center/cover;
}

/* Footer */
#footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--color-black);
  width: 100%;
}

.footer__title {
  font-family: var(--font-english);
  font-weight: var(--font-weight-light);
  letter-spacing: 5px;
  color: white;
  font-size: 60px;
  border-bottom: 0.25px solid var(--color-white);
  margin: 15px auto;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  max-width: 1200px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__info h4,
.footer__info p {
  color: var(--color-white);
  font-family: var(--font-korean);
}

.footer__info h4 {
  font-size: 20px;
}

.footer__info p {
  font-size: 15px;
  font-weight: var(--font-weight-light);
}

.footer__info__pdf {
  color: var(--color-white);
  border: 1px solid var(--color-white);
  padding: 15px 30px;
  transition: all var(--anime-duration) ease;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__info__pdf:hover {
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  transition: all var(--anime-duration) ease;
}

.footer__copy {
  display: flex;
  justify-content: center;
}

.copyright {
  font-size: 12px;
  color: var(--color-blue-grey);
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* About */
  .about__title {
    width: 100%;
    margin: auto;
  }
}

/* For below 760px screen width */
@media screen and (max-width: 760px) {
  /* Nav */
  .navbar__logo {
    font-size: 25px;
    padding-left: 25px;
  }

  .navbar__menu__items {
    display: none;
  }

  .navbar-toggle {
    display: block;
    font-size: 20px;
    padding-right: 25px;
  }

  /* Home */
  .home__contents {
    top: -30px;
  }

  .home__title {
    font-size: 50px;
  }

  .home__description {
    font-size: 15px;
    top: -40px;
  }

  .home__line {
    width: 150px;
  }

  /* About */
  .about__title {
    font-size: 30px;
  }

  .about__img {
    margin-top: 15px;
    margin-left: 10px;
    width: 230px;
    height: 230px;
  }

  .about__box__right__title {
    font-size: 25px;
    position: relative;
    left: -217px;
    top: 230px;
  }

  .about__content {
    left: -210px;
    top: 200px;
    width: 210px;
    word-spacing: 2.5px;
    text-indent: 5px;
  }

  .about__responsive__word {
    display: flex;
    transform: rotate(-90deg);
    position: absolute;
    font-family: var(--font-script);
    color: var(--color-blue-grey);
    opacity: 60%;
    left: -260px;
    top: 187px;
    font-size: 100px;
    z-index: 5;
  }

  /* Work */
  #work {
    top: 40px;
  }

  /* Footer */
  #footer {
    top: 40px;
  }
  .footer__title {
    font-size: 28px;
  }
  .footer__info p {
    font-size: 12px;
  }
}
