body{
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
}

/* Main */
#main{
    max-width: 1200px;
    margin: auto;
}

/* Header */
#title{
    padding-top: 55px;
}

.header{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.title__txt{
    margin-left: 30px;
    font-weight: var(--font-weight-light);
}

.title__description{
    font-family: var(--font-english);
    text-align: center;
    font-size: 30px;
    color: var(--color-blue-grey);
    
}

/* Work Gallery */
#gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 0 20px;
    padding-bottom: 100px;
}

#gallery .gallery__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gallery .gallery__box .gallery__img{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

#gallery .gallery__box .gallery__img img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

/* Gallery Responsive */
@media only screen and (max-width: 769px){
    #gallery .gallery__box{
        flex-direction: column;
    }

    #gallery .gallery__box .gallery__img{
        width: 100%;
    }
}
